.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
} 

#projects {
    background-color: #e2edff;
}
.col-4 img {
    height: 400px;
}
.col-md-4 a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.map-center {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border: 0;
  display: block;
  margin: 0 auto;
}

